.wheel-container {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  justify-content: flex-start;
  row-gap: 1rem;
  height: 500px;
  width: 40%;
  background-color: #1a1e25;
  position: absolute;
  left: -24%;
  transition: all 0.1s ease-in-out;
}
.wheel {
  border: solid 2px blanchedalmond;
  border-radius: 100%;
  padding: 10px;
  align-items: center;
  display: flex;
}
.btn-spin {
  background-color: #1c212a;
  color: blanchedalmond;
  border: 1px solid blanchedalmond;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
  width: 35px;
  height: 25px;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.2s;
}
.btn-spin:hover {
  background-color: blanchedalmond;
  color: #1c212a;
  border: 1px solid #1c212a;
  transform: scale(1.1);
}
.btn-spin:active {
  transform: scale(0.9);
  background-color: rgb(25, 29, 31);
}
.form {
  margin-left: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.form-input {
  margin: 10px;
  border: solid 1px transparent;
  transition: 0.5s;
  border-radius: 4px;
  text-align: center;
  width: 250px;
  height: 30px;
}
.form-input:hover {
  border: solid 1px blanchedalmond;
}
